@model IEnumerable<BuscouAchou.Domain.DataModels.ReceitasBuscadasDataModel>
@{
    Layout = null;
}
<div class="container">
    <div id="formrec" class="col-md-12" style="background-color:white; padding:0 200px 0 200px;">
        @if (Model.Any() || Model != null)
        { 
            foreach (var item in Model)
            {
                <ul style="padding:0">
                    <li class="lisrec mbottom">
                        <div class="container-fluid" style="padding: 5px 0">
                            <div class="col-md-4">
                                <img src="~/Content/ImagemReceitas/@item.NomeImagem" style="width:100%">
                            </div>
                            <div class="col-md-5" style=" margin-top: 10px;padding:0;">
                                <p style=" font-size:20px; text-decoration: none; color:black;">@item.Nom_Receita</p>
                                <p>Enviado Por @item.Nom_Usua</p>
                            </div>
                            <div class="col-md-2">
                                <div class="col-md-12" style="margin-top:10px; padding:0;">
                                    <i style="font-size: 20px; color:rgba(255, 152, 0, 0.55)" class="glyphicon glyphicon-hourglass"></i>
                                    <label style="color:rgba(255, 152, 0, 0.55); font-size:13px;">@item.Temp_Prep Min</label>
                                </div>
                                <div class="col-md-12" style="margin-top:10px; padding:0;">
                                    <i style="font-size: 20px; color:rgba(255, 152, 0, 0.55)" class="glyphicon glyphicon-cutlery"></i>
                                    <label style="color:rgba(255, 152, 0, 0.55);font-size:13px;">@item.Rend_Porc Porção</label>
                                </div>
                            </div>
                            <div class="col-md-1" style="padding: 0;">
                                <button class="iconresc" onclick="getIngrModPrep(@item.Num_SeqlReceitas)">
                                    <i class="glyphicon glyphicon-plus" style="color:white;"></i>
                                </button>
                            </div>
                            <div id="modalIngredientesModPrep" class="col-md-12 mod" style="display:none; margin-top:20px; padding-bottom:15px;"></div>
                        </div>
                    </li>
                </ul>
            }
        }
    </div>
</div>
<script>
    function getIngrModPrep(numRec) {
        if (!$('.iconresc').hasClass('populado')) {
            $.get("@Url.Action("GetIngredientesModoPreparo", "Home")",{
                numReceita: numRec
            }).success(function (data) {
                $('#modalIngredientesModPrep').html(data);
            }).error(function () {
                console.log("ERRO");
            });
        }

        if ($('.iconresc').hasClass('ativo')) {
            $('.iconresc i').removeClass('glyphicon glyphicon-minus')
            $('.iconresc').removeClass('ativo')
            $('.iconresc i').addClass('glyphicon glyphicon-plus')
            $('.mod').hide();
        } else {
            $('.iconresc i').removeClass('glyphicon glyphicon-plus')
            $('.iconresc i').addClass('glyphicon glyphicon-minus')
            $('.iconresc').addClass('ativo')
            $('.iconresc').addClass('populado')
            $('.mod').show();
        }


    };
</script>