@{
    ViewBag.Title = "BUSCAR - BuscouAchouReceitas";
}

<div class="container">
    <div id="contlogo" class="jumbotron" style="background-color:white; padding-top:100px;">
        <a href="@Url.Action("Index","Home")"><img id="imglogo" title="Encontre sua receita." class="blockCenter img-responsive" alt="Responsive image" src="~/Content/img/BAReceitas.jpg" style="padding-bottom:10px; width:50%" /></a>
        <br />
        <div id="inputbusca" class="input-group" style="width:70%; margin:0 auto">
            <input type="text" autofocus class=" form-control pull-left" placeholder="Encontre sua receita..." />
            <span class="input-group-btn"><button style="outline:none;" id="buscaReceitas" type="button" class="btn btn-warning">Buscar</button></span>
        </div>  
        </div>
</div>

<div class="container-fluid" id="receitasBuscadas" style="display:none"></div>
<div id="modalcad" class="modal fade" tabindex="-1" role="dialog" style="width:100%"></div>
<div id="modalalt" class="modal fade" tabindex="-1" role="dialog" style="width:100%"></div>
<div id="modalcadrec" class="modal fade" tabindex="-1" role="dialog" style="width:100%"></div>

    <script type="text/javascript">

        $('#btncad').click(function () {
            $.get("@Url.Action("Cadastro", "Home")").success(function (data) {
                $('#modalcad').html(data);
                $('#modalcad').modal('show');
            }).error(function () {
                console.log("ERRO");
            });
        });
        $('#btnent').click(function () {
            $('#formnav').hide();
            $('#btnSnav').show();
        });
        $('#meusdados').click(function () {
            $.get("@Url.Action("DadosUsua", "Home")").success(function (data) {
                $('#modalalt').html(data);
                $('#modalalt').modal('show');
            }).error(function () {
                console.log("ERRO");
            });
        });
        $('#btncadrec').click(function () {
            $.get("@Url.Action("CadReceitas", "Home")").success(function (data) {
                $('#modalcadrec').html(data);
                $('#modalcadrec').modal('show');
            }).error(function () {
                console.log("ERRO");
            });
        });
        $('#buscaReceitas').click(function () {
            $.get("@Url.Action("Receitas", "Home")").success(function (data) {
                $('#imglogo').css("width", "25%");
                $('#inputbusca').addClass('centerinput');
                $('#contlogo').css("padding", "0");
                $('#receitasBuscadas').html(data).show();
            }).error(function () {
                console.log("ERRO");
            });
        });
    </script>



