@{
    ViewBag.Title = "BUSCAR - BuscouAchouReceitas";
}
<style>
    .logoImg {
        width: 90%;
    }

    .contlogo {
        margin-top: 150px;
        margin-bottom: 10px;
        padding: 0;
        
    }
    .translogo {
        transform:translate(-200px,-190px);
        width:50%;
        position:absolute;
    }
    .busctop {
        top: 20px;
        position: absolute;
        width: 80%;
    }
    #Busca {
        width: 500px;
        height: 30px;
        margin: 0;
        margin-left: 40px;
    }
    #Busca:focus {
        border-color:#F58634;
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px #F58634;
    }

    .btnB {
        height: 40px;
    }

    #contlogin {
         width:200px;
         height:200px;
         box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px black;
    }
    #formrec{
         margin-top:90px;
    }

    .dadosLogin {
        margin-left:10px;
    }

    .inpdados {
        width: 150px;
    }
    .lisrec {
        width: 800px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 20px;
        margin-bottom:10px;
        list-style:none;

    }
    #iconresc{
    margin-top: 90px;
    margin-left: 200px;
    cursor: pointer;
    }
    #modprep li{
        list-style:decimal
    }

</style>

<div class="forlogin" style="display:none; position:absolute;width:100%;">
        <div class="row-fluid" style="margin-top:5px;" >
            <div class=" offset9 span2" style=" padding-left:100px;">
                <div id="contlogin">
                    <form action="/" method="post">
                        <fieldset>
                            <legend style="text-align:center">Login <i style="margin-left:90px; cursor:pointer;" class="icon-remove remove"></i></legend>
                            <div class="dadosLogin">
                                <input autofocus type="text" placeholder="NomeID" class="inpdados" />
                            </div>
                            <div class ="dadosLogin">
                                <input type="text" placeholder="Senha" class="inpdados"  />
                            </div>
                            <div class ="dadosLogin">
                                <button type="submit" class="btn btn-warning" style="height:30px">Logar</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
    </div>
</div>

<div class="container-fluid contlogo">
    <div class="row-fluid">
        <div class="span4 offset4" style="padding-left:30px;">
            <img class="logoImg" src="~/Content/img/BAReceitas.jpg">
        </div>
    </div>
</div>
<div class="container-fluid contbusca">
    <div class="row-fluid">
        <div class="span6 offset3" >
            <form class="form-search">
                <div class="input-append" >                
                    <input autofocus type="text" id="Busca" placeholder="Encontre sua receita...">
                    <button type="button" class="btn btn-warning btnB" style="border-radius:0 4px 4px 0;">Buscar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid divrec " style="display:none">
    <div class="row-fluid">
        <div class="span8 offset2" id="formrec">
            <ul>
                <li class="lisrec">
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="span5" style="margin-top:5px;">
                                <img src="~/Content/img/Bolo_Chocolate.jpg" style="width:300px;height:190px;">
                            </div>
                            <div class="span6" style=" margin-top: 20px;">
                                <a href="@Url.Action("Receitas","Home")" style=" font-size:30px; text-decoration: none; color:black; ">Bolo de Chocolate</a>
                                <p style="margin-top:20px">Enviado Por Luan Felipe</p>
                                <i class=" icon-chevron-down" title="Visualizar Receita" id="iconresc"></i>
                                <div>
                                    <p>INGREDIENTES</p>
                                    <ul>
                                        <li>Ingredientes</li>
                                        <li>Ingredientes</li>
                                        <li>Ingredientes</li>
                                        <li>Ingredientes</li>
                                        <li>Ingredientes</li>
                                    </ul>
                                    <p>MODO DE PREPARO</p>
                                    <ul id="modprep">
                                        <li >IngredientesIngredientesIngredientesIngredientesIngredientes</li>
                                        <li>IngredientesIngredientesIngredientesIngredientesIngredientes</li>
                                        <li>IngredientesIngredientesIngredientesIngredientesIngredientes</li>
                                        <li>IngredientesIngredientesIngredientesIngredientesIngredientes</li>
                                        <li>IngredientesIngredientesIngredientesIngredientesIngredientes</li>
                                        <li>IngredientesIngredientesIngredientesIngredientesIngredientes</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="lisrec">
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="span5" style="margin-top:5px;">
                                <img src="~/Content/img/macarrao_com_salsicha.jpg" style="width:300px;height:190px;">
                            </div>
                            <div class="span6" style=" margin-top: 20px;height:190px;">
                                <a href="@Url.Action("Receitas","Home")" style=" font-size:30px; text-decoration: none; color:black; ">Macarrão com Salsicha</a>
                                <p style="margin-top:20px">Enviado Por Luan Felipe</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="lisrec">
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="span5" style="margin-top:5px;">
                                <img src="~/Content/img/macarrao_com_salsicha.jpg" style="width:300px;height:190px;">
                            </div>
                            <div class="span6" style=" margin-top: 20px;height:190px;">
                                <a href="@Url.Action("Receitas","Home")" style=" font-size:30px; text-decoration: none; color:black; ">Macarrão com Salsicha</a>
                                <p style="margin-top:20px">Enviado Por Luan Felipe</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="lisrec">
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="span5" style="margin-top:5px;">
                                <img src="~/Content/img/macarrao_com_salsicha.jpg" style="width:300px;height:190px;">
                            </div>
                            <div class="span6" style=" margin-top: 20px;height:190px;">
                                <a href="@Url.Action("Receitas","Home")" style=" font-size:30px; text-decoration: none; color:black; ">Macarrão com Salsicha</a>
                                <p style="margin-top:20px">Enviado Por Luan Felipe</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal hide fade"  id="modalcad" style="display:none">
</div>
<script type="text/javascript">
   
    $('#btncad').click(function () {
        $.get("@Url.Action("Entrar", "Home")").success(function (data) {
            $('#modalcad').html(data);
            $('#modalcad').modal('show');
        }).error(function () {
            console.log("ERRO");
        });
    });
    $('#btnent').click(function () {
        $('.forlogin').slideDown();
    });

    $('.remove').click(function () {
        $(this).closest("div.forlogin").slideUp();
    });

    $('.btnB').click(function () {
        $('.contlogo').addClass('translogo');
        $('.contbusca').addClass('busctop');
        $('.divrec').fadeIn();
        $('#Busca').focus();
    });
</script>



